# Server settings
N8N_HOST=localhost/render-url-without-https
N8N_PORT=5678
N8N_PROTOCOL=https

# Database configuration
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_POSTGRESDB_PORT=6543
DB_POSTGRESDB_DATABASE=postgres
DB_POSTGRESDB_USER=postgres.username
DB_POSTGRESDB_PASSWORD=your_password
DB_POSTGRESDB_SCHEMA=public

# Security
N8N_ENCRYPTION_KEY=your_encryption_key

# Timezone
GENERIC_TIMEZONE=IST
TZ=IST

# Performance
# N8N_LOG_LEVEL=debug
N8N_METRICS=true
NODE_OPTIONS=--max-old-space-size=2048
QUEUE_MODE=1

# Other settings
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
WEBHOOK_URL=webhook_url/your_render_url-with-https
